body{
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  color:#603942;
  background: #F5EDE8;
}
a{
  text-decoration: none;
}
header{
  width: 100%;
  height: 140px;
}
.nav{
  position: fixed;
  height: 85px;
  width: 100%;
  opacity: 0.8;
  background: #B19275;
  z-index: 5;
}
h1 .logo{
  display: block;
  margin-left: 40px;
  font-size: 40px;
  width: 45px;
  height: 45px;
  background: #A1806C;
  border: 4px solid #413336;
  border-radius: 20px;
  text-align: center;
  line-height: 45px;
  color: #D9DFB7;
}
header ul{
  float: right;
  margin-right: 40px;
  line-height: 55px;
}
li{
  list-style: none;
  margin-left: 25px;
}
 header a{
  text-decoration: none;
  color: #413336;
  padding: 15px;
}
 header a:hover{
  background: #A1806C;
  border-radius: 20px;
  color: #D9DFB7;
}
h1, header ul, header li{
  display: inline-block;
}
main{
  width: 85%;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
}
main figure{
  display: inline-block;
}
main img {
  width: 155px;
  height: 170px;
  border-radius: 20px;
}
main a{

}
footer{
  height: 100px;
  width: 80%;
  margin: auto;
  clear: both;
  text-align: center;
  border-top: 2px solid #A1806C;
}
.icons{
  float: left;
}
.icons li{
  padding: 3px;
  display: inline-block;
  width: 37px;
  height: 37px;
  line-height: 37px;
  margin-left: 7px;
  border: 2.5px solid #413336;
  border-radius: 10px;
  background: #A1806C;
  opacity: 0.7;
}
.icons i{
  color: #D9DFB7;
  width: 37px;
  height: 37px;
  line-height: 37px;
}
.icons i:hover{
  color: #413336;
}
.email{
  float: right;
}
.email a{
  display: block;
  margin-top: 15px;
  background: #A1806C;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;
  margin-right: 40px;
  color: #D9DFB7;
  padding: 5px;
  opacity: 0.7;
}