body{
  width: 100%;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  color:#603942;
  background: #F5EDE8;
}
a{
  text-decoration: none;
  color:#603942;
}
header{
  width: 100%;
  height: 680px;
  background: url('coffee.jpg') no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}
.nav{
  position: fixed;
  z-index: 10;
  height: 85px;
  width: 100%;
  opacity: 0.8;
  background: #B19275;
}
h1 .logo{
  float: left;
  display: block;
  margin-left: 40px;
  font-size: 40px;
  width: 45px;
  height: 45px;
  background: #A1806C;
  border: 4px solid #413336;
  border-radius: 20px;
  text-align: center;
  line-height: 45px;
  color: #D9DFB7;
}
header ul{
  float: right;
  margin-right: 40px;
  line-height: 55px;
}
li{
  list-style: none;
  margin-left: 25px;
}
header a{
  text-decoration: none;
  color: #413336;
  padding: 15px;
}
 header a:hover{
  background: #A1806C;
  border-radius: 20px;
  color: #D9DFB7;
}
h1, header ul, header li{
  display: inline-block;
}
.quotes{
  position: absolute;
  top: 350px;
  right: 220px;
  font-size: 30px;
  color: #E5E8D5;
  text-shadow: 2px 2px #603942;
}
.quotes span{
  font-size: 22px;
  font-style: italic;
}
main{
  text-align: center;
  margin: auto;
  width: 95%;
}
.about{
  padding-bottom: 60px;
  width: 80%;
  margin: auto;
  border-bottom: 2px solid #A1806C;
}
.about img{
  width: 140px;
  height: 140px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.about h2, .about h3{
  margin: 0 8px;
}
.skills, .works, .contacts, footer{
  padding: 50px 0;
}
.skills{
  margin-bottom: 60px;
  border-bottom: 2px solid #A1806C;
}
.web-icons{
  padding: 0;
}
.web-icons li{
  display: inline-block;
  margin-left: 10px;
}
.html img, .css img{
  width: 90px;
  height: 90px;
}
.git img, .jquery img{
  height: 95px;
  width: 230px;
}
.javascript img{
  width: 150px;
  height: 120px;
}
.ruby img{
  width: 110px;
  height: 90px;
}
.works{
  border-bottom: 2px solid #A1806C;
  margin-bottom: 50px;
}
.works h2{
  padding-bottom: 40px;
  margin-top: 10px;
}
.works span{
  font-size: 15px;
}
.works > div{
  display: inline-block;
  vertical-align: top;
  margin-left: 35px;
}
.work-1, .work-1 img, .work-3, .work-3 img{
  width: 260px;
  height: 340px;
}
.work-2, .work-2 img{
  width: 450px;
  height: 340px;
}
.work-1, .work-2, .work-3{
  height: 480px;
  margin-bottom: 80px;
}
.contact-info{
  float: left;
}
.contact-info li{
  margin-bottom: 30px;
  margin-left: 100px;
}
.contact-info span{
  font-style: italic;
}
.map{
  float: right;
  margin-bottom: 120px;
}
.map img{
  width: 550px;
  height: 300px;
  margin-right: 60px;
  border-radius: 20px;
}
footer{
  height: 100px;
  width: 80%;
  margin: auto;
  clear: both;
  text-align: center;
  border-top: 2px solid #A1806C;
}
.icons{
  float: left;
}
.icons li{
  padding: 3px;
  display: inline-block;
  width: 37px;
  height: 37px;
  line-height: 37px;
  margin-left: 7px;
  border: 2.5px solid #413336;
  border-radius: 10px;
  background: #A1806C;
  opacity: 0.7;
}
.icons i{
  color: #D9DFB7;
  width: 37px;
  height: 37px;
  line-height: 37px;
}
.icons i:hover{
  color: #413336;
}
.email{
  float: right;
}
.email a{
  display: block;
  margin-top: 15px;
  background: #A1806C;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;
  margin-right: 40px;
  color: #D9DFB7;
  padding: 5px;
  opacity: 0.7;
}